<h1> Login </h1>

<form method="POST" action="<%= session_url %>">
  <%= auth %>
  <label> Email
    <input class="login-input" type="text" name="user[useremail]" value="">
  </label>

  <label> Password
    <input class="login-input" type="password" name="user[password]" value="">
  </label>
  <button class="login-form-button"> Sign In </button>
</form>
