<h1> Login </h1>

<form class="login-signup-form" method="POST" action="<%= session_url %>">
  <%= auth %>
  <label class="signup-in-label"> Email
    <input class="login-input" type="text" name="user[useremail]" value="ryu@capcom.com">
  </label>

  <label class="signup-in-label"> Password
    <input class="login-input" type="password" name="user[password]" value="123456">
  </label>
  <button class="login-form-button"> Sign In </button>
</form>
