

<form class="login-signup-form" method="POST" action="<%= users_url %>">
  <%= auth %>
  <label class="signup-in-label"> Email
    <input class="login-input" type="email" name="user[useremail]" value="">
  </label>

  <label class="signup-in-label"> Name
    <input class="login-input" type="text" name="user[name]" value="">
  </label>

  <label class="signup-in-label"> Password
    <input class="login-input" type="password" name="user[password]" value="">
  </label>

  <button class="login-form-button" > Create Account </button>
</form>
