/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


  html, body, header, nav, h1, a,
  ul, li, strong, main, button, i,
  section, img, div, h2, p, form,
  fieldset, label, input, textarea,
  span, article, footer, time, small, button {
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   font: inherit;
   color: inherit;
   text-align: inherit;
   text-decoration: inherit;
   vertical-align: inherit;
   box-sizing: inherit;
   background: transparent;
   border: none;
  }

  body {
    background: black
  }

  .container {
   width: 1000px;
   margin: auto;
  }

  .logo > img {
   float: left;
   height: 30px;
   padding: 14px 10px 14px 10px;
  }

  .signout-button{
   float: right;
   width: 120px;
   padding: 7px 18px 7px 18px;
   background: grey;
   text-align: center;
   margin: 12.8px 5px 12.8px 5px;
  }

  .homepage-banner{
    height: 500px;
    margin: auto;
    display: block;
  }

  .toolbar-thumbnail {
   height: 40px;
   width: 40px;
   border-radius: 100px;
   float: right;
   margin: 9px 10px 9px 10px;
  }

  .login-input{
    display: block;
    border: inset;
  }

  .login-form-button{
    background: grey;
    padding: 5px 10px 5px 10px;
  }


  .profile-image {
   float: right;
   width: 240px;
   height: 240px;
  }

  .header-toolbar{
   margin-bottom: 20px;
   background: lightgrey;
  }

  .profile-name {
   float: left;
   font-size: 2.375rem;
  }

  .group:after {
    content: "";
    display: block;
    clear: both;
  }
