.event-show-container {
  float: right;
  width: 790px;
  margin-bottom: 12px;
  border-radius: inherit;
  background: white;
}

.event-show-content {
  float: left;
  width: 618px;
}

.event-show-members {
  width: 172px;
  float: right;
}

.event-show-title {
  font-size: 38px;
  padding: 20px 10px;
  font-weight: bold;
}

.event-show-date {
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px;
}

.event-show-hour {
  font-size: 16px;
  color: grey;
  padding: 0 0 10px 10px;
}

.event-show-location {
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px 10px 10px;
}

.event-show-description {
  color: grey;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
}

.event-show-container:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 172px;
  border-right: 1px solid lightgrey;
  background: lightgrey;
}

@media screen and (max-width: 580px) {
  .event-show-members {
    width: 100%;
  }

  .event-show-container {
    width: 100%;
  }

  .event-show-container:before {
    display: none;
  }

  .event-show-content {
    width: 100%;
  }
}
