.event-show-member-count {
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  border-bottom: 1px solid lightgrey;
  padding: 18px;
}

.event-show-member-image-container {
  height: 50px;
  width: 50px;
  position: relative;
  overflow: hidden;
}

.event-show-member-image {
  height: inherit;
}

.event-show-member-item {
  padding: 18px;
  border-bottom: 1px solid lightgrey;
}

.event-show-container {
  position: relative;
}
