.group-event-index-header{
  font-family: Whitney, helvetica, arial, sans-serif;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: -0.5px;
  padding: 10px 10px 0 10px;
}

.group-event-index-container{
  background: white;
  border-radius: inherit;
  width: 790px;
  float: right;
}

.group-event-index-item-container{
  border-bottom: 1px solid black;
  padding: 15px 25px;
}

.group-event-index-item-container > *{
  font-family: Whitney, helvetica, arial, sans-serif;
}

.group-event-index-title {
  padding-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
}

.group-event-index-details {
  float: right;
}

.group-event-index-content {
  float: left;
}

.group-event-index-start-date {
  font-size: 16px;
  color: #333;
  padding-bottom: 5px;
}

.group-event-index-start-hour {
  font-size: 13px;
  color: #666;
}

.group-event-index-address {

}

.group-event-index-members {
  font-size: 13px;
}

.join-event-container {
  height: 40px;
  width: 80px;
  border-radius: 3px;
  overflow: hidden;
  position: relative;
  background:black;
  box-shadow: 0 0 10px black;
  cursor: pointer;
  margin: 10px;
  transition: box-shadow 0.3s;
}

.join-event {
  height: inherit;


}

.join-event-container:hover {
  box-shadow:0 0 10px black, inset 0 0 20px red;
}
