
.group-show-container {
  border-radius: 3px;
  opacity: 0.95;
}

.group-show-header {
  position: relative;
  color: white;
  height: 159px;
  background: black;
  margin-bottom: 18px;
  border-radius: inherit;
  border: 1px solid white;
}

.group-show-title {
  margin-top: 59.5px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.group-show-nav {
  width: 990px;
  border-top: 8px solid #444;
  position: absolute;
  bottom: 0;
  padding: 6px 4px;
  background: white;
}

.group-nav-bar-link-left, .group-nav-bar-link-right {
  color: black;
  border-radius: 3px;
  padding: 5px 10px;
  display: block;
  margin: 0 1px;
  transition: color 0.3s, background 0.3s;
}
.group-nav-bar-link-left:hover, .group-nav-bar-link-right:hover {
  color: white;
  background: black;
}

.group-nav-bar-link-left {
  float: left;
}

.group-nav-bar-link-right {
  float: right;
}


.group-show-image {
  width: inherit;
}

.group-show-image-container {
  width: 180px;
  height: 180px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.group-show-description-container {
  float: right;
  width: 790px;
  margin-bottom: 12px;
  border-radius: inherit;
  background: white;
}


.group-show-description {
  color: rgba(0, 0, 0, 0.670588);
  font-size: 16px;
  padding: 18px;
}

.group-show-sidebar {
  float: left;
  width: 200px;
  background: white;
  border-radius: inherit;
}

.group-show-lower-description {
  border-top: 1px solid #ddd;
  padding: 18px;
}

.group-join {
  margin-top: 5px;
  color: white;
  background: darkred;
  border-radius: 3px;
  padding: 5px 10px;
  float: right;
  font-weight: bold;
  transition: background 0.2s;
  cursor: pointer;
}

.group-join:hover {
  background: red;
}


.group-show-details {
  border-top: 1px solid #ddd;
  padding: 0 20px;
}

.group-show-location {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

.group-show-detail {
  padding: 10px;
  border-top: 1px solid #ddd;
  font-size: 13px;
}

.group-show-organizer {
  border-top: 1px solid #ddd;
  padding: 20px;
}

.group-show-oragnizer-name {
  float: left;
}

.group-show-organizer-image-container {
  float: right;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.group-show-organizer-image {
  height: inherit;
}

.group-event-tab-container {
  background: #444;
  margin: 10px 10px 0 10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding-top: 5px;

}

.group-event-tab {
  float: left;
  padding: 5px 10px;
  background: #ddd;
  color: black;
  margin-left: 10px;
  border-radius: inherit;
  cursor: pointer;
  border-bottom: 1px solid #444;

}

.tab-selected {
  background: white;
  border-bottom: 1px solid white;
}
