.group-index {
  color: white;
}

.group-index-image {
  object-fit: contain;
  background: lightgrey;
  position: absolute;
  width: 308px;


  top: -9999px; /* center image fix */
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.group-index-title{
  border-radius: inherit;
  border-top-right-radius: 0; /*make the same as img radius */
  border-top-left-radius: 0; /*make the same as img radius */
  padding-bottom: 23px;
  padding-left: 18px;
  background: rgba(0,0,0, 0.7);
  letter-spacing: -0.25px;
  font-size: 20px;
  font-weight: bold;
  font-family: Whitney, helvetica, arial, sans-serif;
  position: relative;
  top: 134px;
}

.group-index-item{
  border-radius: 2px;
  cursor: pointer;
  float: left;
  margin: 0 9.4px 20px 9.4px;
  background: white;
  height: 180px;
  position: relative;
  overflow: hidden;
  width: 308px;
}
