.group-show-image {
  width: inherit;
}

.group-show-image-container {
  width: 180px;
  height: 180px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.group-show-description{
  float: right;
  height: 200px;
  width: 770px;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 3px;
  background: white;
}

.group-show-sidebar{
  float: left;
  width: 200px;
  background: white;
  border-radius: 3px;
}


.group-show-details {
  border-top: 1px solid #ddd;
  padding: 0 20px;
}

.group-show-location {
  font-size: 20px;
  font-weight: bold;
  padding: 10px 0;
}

.group-show-detail {
  padding: 10px;
  border-top: 1px solid #ddd;
  font-size: 13px;
}

.group-show-organizer {
  border-top: 1px solid #ddd;
  padding: 20px;
}

.group-show-oragnizer-name {
  float: left;
}

.group-show-organizer-image-container {
  float: right;
  position: relative;
  width: 80px;
  height: 80px;
  overflow: hidden;
}

.group-show-organizer-image {
  height: inherit;
}
