.modal-background {
  background: rgba(0,0,0, 0.7);
  width: 100%;
  height: 100%;
  z-index: 999;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.modal-form {
  background: white;
  width: 500px;
  border-radius: 3px;
  padding: 20px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.modal-exit {
  float: right;
  cursor: pointer;
}

.modal-input, .modal-input-zipcode {
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 6px 12px;
  width: 434px;
  transition: box-shadow 0.3s;
}

.modal-input-zipcode {
  width: 45px;
}

.modal-input:focus, .modal-input-zipcode:focus {
  box-shadow: 0px 0px 10px #ccc;
}

.modal-label {
  padding: 20px;
}

.modal-image-button > input {
  display: none;
}

.modal-image-button {
  padding: 10px 20px;
  background: white;
  border-radius: 3px;
  margin: 0 20px 0 20px;
  text-align: center;
  color: #999;
  border: 2px solid #ccc;
  transition: box-shadow 0.3s;
  cursor: pointer;
}

.modal-image-button:hover {
  box-shadow: 0px 0px 10px #ccc;
}

.modal-form-header {
  font-size: 25px;
  font-weight: bold;
  margin: 20px 0 0 20px;
}

.modal-submit-button {
  float: right;
  margin: 20px;
  padding: 5px 10px;
  background: #E0393E;
  border-radius: 3px;
  color: white;
  transition: background 0.2s;
  cursor: pointer;
}

.modal-submit-button:hover {
  background: darkred;
}
