.group-index {
  color: white;
}

.group-index-image {
  background: lightgrey;
  width: 308px;

  position: absolute; /* center image fix */
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
}

.group-index-title{
  border-radius: inherit;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  padding-bottom: 23px;
  padding-left: 18px;
  background: rgba(0,0,0, 0.7);
  letter-spacing: -0.25px;
  font-size: 20px;
  font-weight: bold;
  font-family: Whitney, helvetica, arial, sans-serif;
  position: relative;
  top: 134px;
  transition: top 0.3s;
}

.group-index-item:hover > .group-index-title{
  top: 160px;
}


.group-index-item{
  border-radius: 2px;
  cursor: pointer;
  float: left;
  margin-bottom: 38px;
  background: white;
  height: 180px;
  position: relative;
  overflow: hidden;
  width: 308px;
}

.group-index-item:nth-child(3n+2) {
  margin: 0 38px;
}
