.background-header-toolbar {
  height: 58px;
  background: lightgrey;
  position: absolute;
  width: 100%;
  z-index: -999;
}

.toolbar-thumbnail {
 height: inherit;
}

.toolbar-thumbnail-link{
  float: right;
  margin: 9px 10px 9px 10px;
  background-color: white;
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 100px;
  overflow: hidden;

}

.logo > img {
 float: left;
 height: 30px;
 padding: 14px 10px 14px 10px;
}

.header-toolbar{
 margin-bottom: 20px;
 background: lightgrey;
}


.header-toolbar-button-left, .header-toolbar-button-right {
  width: 120px;
  height: 32px;

  margin: 12.8px 5px 12.8px 5px;

  border-radius: 3px;
  cursor: pointer;
  box-shadow: inset 0 0 25px white;
  transition: background 0.3s;
  position: relative;
  overflow: hidden;
}

.header-toolbar-button-image {
  height: 25px;;
}

.header-toolbar-button-image-smaller {
  height: 20px;
}

.header-toolbar-button-left {
  float: left;
}

.header-toolbar-button-right {
  float: right;
}

.header-toolbar-button-right:hover, .header-toolbar-button-left:hover {
  background: white;
}
