.background-header-toolbar {
  height: 58px;
  background: lightgrey;
  position: absolute;
  width: 100%;
  z-index: -999;
}

.toolbar-thumbnail {
 height: inherit;
}

.toolbar-thumbnail-link{
  float: right;
  margin: 9px 10px 9px 10px;
  background-color: white;
  height: 40px;
  width: 40px;
  position: relative;
  border-radius: 100px;
  overflow: hidden;

}

.logo > img {
 float: left;
 height: 30px;
 padding: 14px 10px 14px 10px;
}

.header-toolbar{
 margin-bottom: 20px;
 background: lightgrey;
}


.groups-button {
  float: left;
  width: 120px;
  padding: 7px 18px 7px 18px;
  background: grey;
  text-align: center;
  margin: 12.8px 5px 12.8px 5px;
  font-family: sans-serif;
  font-weight: bold;
}
