.toolbar-thumbnail {
 height: 40px;
 width: 40px;
 border-radius: 100px;
 float: right;
 margin: 9px 10px 9px 10px;
 object-fit: contain;
 background-color: grey;
}

.logo > img {
 float: left;
 height: 30px;
 padding: 14px 10px 14px 10px;
}

.header-toolbar{
 margin-bottom: 20px;
 background: lightgrey;
}


.groups-button {
  float: left;
  width: 120px;
  padding: 7px 18px 7px 18px;
  background: grey;
  text-align: center;
  margin: 12.8px 5px 12.8px 5px;
  font-family: sans-serif;
  font-weight: bold;
}
