.profile {
  background: rgba(192,192,192, 0.5);
  height: 500px;
}

.profile-image {
  height: 240px;

  position: absolute; /* center image fix */
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;


}

.profile-image-container{
  position: relative;
  float: right;
  height: 240px;
  width: 240px;
  overflow: hidden;
}


.profile-name {
 float: left;
 font-size: 2.375rem;
 font-family: sans-serif;;
 font-weight: bold;
 padding: 25px;
}
