.profile {
  background: rgba(192,192,192, 0.7);
}

.profile-image {
  height: inherit;
}

.profile-image-container {
  position: relative;
  float: right;
  height: 240px;
  width: 240px;
  overflow: hidden;
  margin: 20px 20px 0 0;
}


.profile-name {
 float: left;
 font-size: 2.375rem;
 font-family: sans-serif;;
 font-weight: bold;
 padding-bottom: 20px;
 margin: 20px 0 0 20px;
 border-bottom: 2px solid black;
 width: 700px;
}
.profile-name-input {
  float: left;
  border: inset;
  background: white;
}

.profile-name-header {
  float: left;
}

.profile-name-edit-button:after {
  content: "✎";
  font-weight: normal;
}

.profile-name-edit-button {
  float: right;
}

.profile-form-upload {
  background: white;
  color: black;
  float: right;
  margin-right: 20px;
  padding: 3px 7px;
  border-radius: 3px;
  transition: background 0.5s;
}

.profile-form-upload:hover {
  background: lightgrey;
}

.profile-form-upload > input {
  display: none;
}



.profile-update-button{
  background: red;
  padding: 3px 7.5px;
  border-radius: 3px;
  color: white;
  float: right;
  transition: background 0.5s;
  cursor: pointer;
}

.profile-update-button:hover {
  background: darkred;
}

.profile-group-amount {
  margin: 0 280px 0 20px;
  font-weight: bold;
  font-size: 24pt;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid black;
}

@media screen and (max-width: 580px) {
  .profile-name {
    width: 85%;
  }

  .profile-image-container {
    float: none;
    margin: auto;
  }

  .profile-update-button {
    float: none;
  }

  .profile-form-upload {
    margin: 0;
  }


  .profile-name-input {
    width: 85%;
  }

  .profile-group-amount {
    margin: 10px 0;
    font-size: 120%;
    text-align: center;
  }

  .profile-button-container {
    width: 240px;
    margin: auto;
  }
}
