.response-container {
  border-top: 1px solid lightgrey;
  padding: 10px 0;
  margin: 10px 0;
}
.response-container:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
}

.response-details {
  float: right;
  width: 438px;
}


@media screen and (max-width: 580px) {
  .response-container {
    width: 85%;
    float: right;
  }

  .response-details {
    width: 100%;
  }
}
