.search-bar {
  background: lightgrey;
  width: 524px;
  margin: auto;
  position: relative;
  margin-bottom: 20px;
  border-radius: 4px;
}

.search-bar-input {
  background: white;
  padding: 6px 12px;
  float: left;
  width: 500px;
  border-radius: 4px;
  transition: box-shadow 0.5s;
  text-align: center;
}

.search-bar-input:focus {
  box-shadow: 0 0 25px red;
}

.search-bar-icon {
  position: absolute;
  float: left;
  width: 19px;
  right: 7px;
  top: 14px;
  cursor: pointer;
}

.search-bar-icon > img {
  width: inherit;
}
